<!-- index.html.erb -->

<h2> List of Projects </h2>

<ul> 
	<% @projects_array.each do |the_project| %>
	<li>
		<a href='/projects/<%= the_project.id %>'><%= the_project.name%></a>
		<% if the_project.description != nil %>
		- <%=the_project.description %>
	<% end %>
	</li>
<% end %>
</ul>
<form action="/projects/new" method="POST">
	<button type="submit">Add Project</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
	</form>
