<!-- show.html.erb -->
<%= @my_project.name %>
<h3> Deails of Project </h3>
<%= @my_project.description %>
<a href="/projects/<%= @my_project.id%>/time_entries">
	See Time Entry
</a>
<a href="/projects">
	See All Projects
</a>