// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show_back {
    background-image: image-url("phish.jpg");
    background-size: cover;
    height: 1000px;
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
}

.details {
	background-color: rgba(135, 206, 250, 0.5);
	font-size: 20px;
	padding: 40px;



	
}
header {
	padding: 10px;
	border-radius: 20px;
	margin-left: 20px;
	font-size: 12px;
}
footer {
	padding: 10px;
	border-radius: 20px;
	margin-left: 20px;
	font-size: 12px;
	bottom: 20px;
}
body {
	background-image: image-url("music.png");
    background-size: cover;
}
form {
	background-color: #ADD8E6;
	padding: 10px;
	border-radius: 10px;
	margin: 7px;
	width: 400px;
}

aside {
	top: 40px;
	border-radius: 10px;
	background-color: yellow;
	text-align: left;
	width: 400px;
	height: 800px;
	margin-left: 1000px;
}