<!-- home.html.erb -->
<h1>Word Central</h1>

<p>Your destination for text utilities.</p>
<form action='/text_inspections/new' method="post">

  <button type="submit">Enter Words</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>
<form action='/asciis/new' method="post">

  <button type="submit">Enter Word to Ascii</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>
</html>
<form action='/holder/new' method="post">

  <button type="submit">Enter Word placehold </button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>