<!-- index.html.erb -->

<h2> List of Contacts </h2>
<ul> 
	<% @contacts_array.each do |the_contact| %>
	<li>
		<a href="/contacts/<%=the_contact.id%>/show"><%= the_contact.name%></a>
		
	</li>
<% end %>
</ul>
<form action="/contacts/new" method="POST">
	<button type="submit">Add Contact</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
	</form>
