<!-- show.html.erb -->
<%= @my_product.title %>
<h3> Deails of Product </h3>
<%= @my_product.description %>
<%= @my_product.deadline %>

<a href="/users/<%= @my_user.id%>/products">
	Back to User Products
</a>
